---
import type { PaginateFunction } from "astro";
import ArrowLeftIcon from "#/components/icons/arrow-left.svg";
import BaseSEO from "#/components/seo/base-seo.astro";
import OpenGraph from "#/components/seo/open-graph.astro";
import TwitterCard from "#/components/seo/twitter-card.astro";
import { countPerPage } from "#/config/constant";
import { siteConfig } from "#/config/site";
import CategoryNavigation from "#/features/blog/components/ui/category-navigation.astro";
import EntryList from "#/features/blog/components/ui/entry-list.astro";
import Pagination from "#/features/blog/components/ui/pagination.astro";
import { getPublicBlogEntries } from "#/features/blog/utils/entry";
import BaseLayout from "#/layouts/base-layout.astro";
import { BASE_URL } from "#/utils/base-url";

export const getStaticPaths = async ({
  paginate,
}: {
  paginate: PaginateFunction;
}) => {
  const blogEntries = await getPublicBlogEntries();
  return paginate(blogEntries, { pageSize: countPerPage });
};

const { page } = Astro.props;

const seoTitle = `ブログ｜${siteConfig.title}`;
const seoDescription = "Keisuke Hayashi のブログ";
const seoImage = `${BASE_URL}/api/og/default.png`;
---

<BaseLayout>
  <Fragment slot='seo'>
    <BaseSEO title="ブログ" description={seoDescription} />
    <OpenGraph
      title={seoTitle}
      description={seoDescription}
      image={seoImage}
      imageAlt={seoTitle}
    />
    <TwitterCard
      title={seoTitle}
      description={seoDescription}
      image={seoImage}
      imageAlt={seoTitle}
    />
  </Fragment>
  <div class="back-link-wrapper">
    <a href="/" class="back-link">
      <ArrowLeftIcon class="back-icon" />
      ホーム
    </a>
  </div>
  <section>
    <h1 class="page-title">ブログ</h1>
    <CategoryNavigation class="blog-nav" />
  </section>
  <section class="blog-entries">
    <EntryList blogEntries={page.data} showDate />
  </section>
  <Pagination page={page} baseUrl="/blog" class="blog-pagination" />
</BaseLayout>

<style>
  .blog-nav {
    margin-top: 2rem;
  }

  .blog-entries {
    margin-top: 1.5rem;
  }

  .blog-pagination {
    margin-top: 1.5rem;
  }
</style>
