---
import type { PaginateFunction } from "astro";
import SEO from "#/components/seo/seo.astro";
import Breadcrumb from "#/components/ui/breadcrumb.astro";
import { countPerPage } from "#/config/constant";
import CategoryNavigation from "#/features/blog/components/ui/category-navigation.astro";
import EntryList from "#/features/blog/components/ui/entry-list.astro";
import Pagination from "#/features/blog/components/ui/pagination.astro";
import { getPublicListEntries } from "#/features/blog/utils/entry";
import BaseLayout from "#/layouts/base-layout.astro";
import { BASE_URL } from "#/utils/base-url";

export const getStaticPaths = async ({
  paginate,
}: {
  paginate: PaginateFunction;
}) => {
  const entries = await getPublicListEntries();
  return paginate(entries, { pageSize: countPerPage });
};

const { page } = Astro.props;

const seoDescription = "Keisuke Hayashiのブログ";
const seoImage = `${BASE_URL}/api/og/default.png`;
---

<BaseLayout>
  <SEO
    title="Blog"
    description={seoDescription}
    image={seoImage}
    slot='seo'
  />
  <Breadcrumb segments={[{ label: "Home", href: "/" }]} />
  <section>
    <h1 class="page-title">Blog</h1>
    <CategoryNavigation class="blog-nav" />
  </section>
  <section class="blog-entries">
    <EntryList entries={page.data} showDate />
  </section>
  <Pagination page={page} class="blog-pagination" />
</BaseLayout>

<style>
  .blog-nav {
    margin-top: 2rem;
  }

  .blog-entries {
    margin-top: 1.5rem;
  }

  .blog-pagination {
    margin-top: 1.5rem;
  }
</style>
