---
import { type CollectionEntry, render } from "astro:content";
import EmojiEyeCatch from "#/components/emoji-eye-catch.astro";
import Skeleton from "#/components/skeleton.astro";
import Heading2 from "#/pages/posts/_components/heading-2.astro";
import Heading3 from "#/pages/posts/_components/heading-3.astro";
import ImageHandler from "#/pages/posts/_components/image-handler.astro";
import LinkHandler from "#/pages/posts/_components/link-handler.astro";
import ViewCounter from "#/pages/posts/_components/view-counter.astro";
import ZoomImageContainer from "#/pages/posts/_components/zoom-image-container.astro";
import { convertDateToString } from "#/utils/date";

interface Props {
  post: CollectionEntry<"post">;
}

const { post } = Astro.props;

const { Content } = await render(post);

const components = {
  a: LinkHandler,
  img: ImageHandler,
  h2: Heading2,
  h3: Heading3,
};

const { title, emoji, status, publishedAt } = post.data;

const publishedAtString = convertDateToString(publishedAt);

// const getLastUpdatedTime = client.api.github["last-updated-file"];
//
// const { lastUpdatedTime } = await getLastUpdatedTime
//   .$get({
//     query: { path: `post/${formatDateToYYYYMMDD(publishedAt)}/index.mdx` },
//   })
//   .then((res) => res.json());
//
// const updatedAtString = convertDateToString(new Date(lastUpdatedTime));
// console.log("updatedAtString", updatedAtString);
---

<ZoomImageContainer>
    <article class="animate prose">
        <header>
            <div class:list={['animate', status === 'draft' && 'flex justify-between items-center']}>
                <EmojiEyeCatch emoji={emoji} />
                {status === "draft" && (
                    <span class="text-xs text-red-400">Draft</span>
                )}
            </div>
            <h1 class="animate mt-4 font-medium">{title}</h1>
            <div class="animate mt-2 flex items-center justify-between">
                <time datetime={publishedAt.toISOString()} class="text-sm text-muted-foreground">
                    {publishedAtString}
                </time>
                <ViewCounter slug={post.id} server:defer>
                    <Skeleton slot="fallback" className="h-4 w-14" />
                </ViewCounter>
            </div>
        </header>
        <div class="animate">
            <Content components={components} />
        </div>
    </article>
</ZoomImageContainer>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const pageLinks = document.querySelectorAll('a.page-link');

        pageLinks.forEach(link => {
            link.addEventListener('click', (event) => {
                event.preventDefault();

                const targetId = link.getAttribute('href')?.slice(1);
                if (!targetId) return;

                const targetElement = document.getElementById(targetId);

                if (targetElement) {
                    targetElement.scrollIntoView({
                        behavior: 'smooth',
                        block: 'start',
                    });

                    history.pushState(null, '', `#${targetId}`);
                }
            });
        });
    });
</script>

