---
import type { PaginateFunction } from "astro";
import type { BreadcrumbList, WithContext } from "schema-dts";
import ArrowLeftIcon from "#/components/icons/arrow-left.svg";
import BaseSEO from "#/components/seo/base-seo.astro";
import OpenGraph from "#/components/seo/open-graph.astro";
import TwitterCard from "#/components/seo/twitter-card.astro";
import { countPerPage } from "#/config/constant";
import { siteConfig } from "#/config/site";
import EntryList from "#/features/blog/components/ui/entry-list.astro";
import Pagination from "#/features/blog/components/ui/pagination.astro";
import { getTagBySlug } from "#/features/blog/config/tag";
import { getPublicBlogEntries } from "#/features/blog/utils/entry";
import BaseLayout from "#/layouts/base-layout.astro";
import { BASE_URL } from "#/lib/base-url";

export const getStaticPaths = async ({
  paginate,
}: {
  paginate: PaginateFunction;
}) => {
  const blogEntries = await getPublicBlogEntries();
  const tags = [
    ...new Set(blogEntries.flatMap((entry) => entry.data.tags ?? [])),
  ];
  return tags.flatMap((tag) => {
    const filteredEntries = blogEntries
      .filter((post) => post.data.tags?.includes(tag))
      .sort(
        (a, b) => a.data.publishedAt.getTime() - b.data.publishedAt.getTime(),
      )
      .reverse();
    return paginate(filteredEntries, {
      pageSize: countPerPage,
      params: { tag: tag.toLowerCase().replace(/[\s.]+/g, "-") },
    });
  });
};

const { page } = Astro.props;
const { tag: tagSlug } = Astro.params;

const tag = getTagBySlug(tagSlug);

if (!tag) {
  throw new Error(`Tag "${tagSlug}" not found`);
}

const seoTitle = `${tag.label}｜${siteConfig.title}`;
const seoDescription = `「${tag.label}」のタグがついた記事一覧`;
const seoImage = `${BASE_URL}/api/og/default.png`;

const breadcrumbSchema: WithContext<BreadcrumbList> = {
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  itemListElement: [
    {
      "@type": "ListItem",
      position: 1,
      name: "Blog",
      item: `${import.meta.env.SITE}/blog`,
    },
    {
      "@type": "ListItem",
      position: 2,
      name: tag.label,
      item: `${import.meta.env.SITE}/blog/tags/${tag.slug}`,
    },
  ],
};
---

<BaseLayout>
  <Fragment slot='seo'>
    <BaseSEO title={tag.label} description={seoDescription} />
    <OpenGraph
      title={seoTitle}
      description={seoDescription}
      image={seoImage}
      imageAlt={seoTitle}
    />
    <TwitterCard
      title={seoTitle}
      description={seoDescription}
      image={seoImage}
      imageAlt={seoTitle}
    />
  </Fragment>
  <script
      is:inline
      type='application/ld+json'
      set:html={JSON.stringify(breadcrumbSchema)}
      slot='head'
  />
  <div class="mb-4 xl:fixed xl:top-0 xl:translate-y-[170px] xl:-translate-x-[260px]">
    <a href="/blog" class="inline-flex gap-1 items-center text-muted-foreground text-xs hover:underline">
      <ArrowLeftIcon class="size-3.5" />
      ブログ
    </a>
  </div>
  <section>
    <h1 class="font-medium">#{tag.label}</h1>
  </section>
  <section class="mt-6">
    <EntryList blogEntries={page.data} showDate />
  </section>
  <Pagination page={page} baseUrl={`/blog/tags/${tag.slug}`} class="mt-6" />
</BaseLayout>
