---
import ArrowLeftIcon from "#/components/icons/arrow-left.svg";
import BaseSEO from "#/components/seo/base-seo.astro";
import OpenGraph from "#/components/seo/open-graph.astro";
import TwitterCard from "#/components/seo/twitter-card.astro";
import { siteConfig } from "#/config/site";
import BaseLayout from "#/layouts/base-layout.astro";
import { BASE_URL } from "#/lib/base-url";

const seoTitle = `私について｜${siteConfig.title}`;
const seoDescription = "Keisuke Hayashi のブログ";
const seoImage = `${BASE_URL}/api/og/default.png`;
---

<BaseLayout>
  <Fragment slot='seo'>
    <BaseSEO title="私について" description={seoDescription} />
    <OpenGraph
      title={seoTitle}
      description={seoDescription}
      image={seoImage}
      imageAlt={seoTitle}
    />
    <TwitterCard
      title={seoTitle}
      description={seoDescription}
      image={seoImage}
      imageAlt={seoTitle}
    />
  </Fragment>
  <div class="mb-4 xl:fixed xl:top-0 xl:translate-y-[170px] xl:-translate-x-[260px]">
    <a href="/" class="inline-flex gap-1 items-center text-muted-foreground text-xs hover:underline">
      <ArrowLeftIcon class="size-3.5" />
      ホーム
    </a>
  </div>
  <h1 class="font-medium">
    わたしについて
  </h1>
  <section class="mt-8">
    <p class="text-muted-foreground text-sm">
      準備中です。
    </p>
  </section>
</BaseLayout>
