---
import ArrowLeftIcon from "#/components/icons/arrow-left.svg";
import BaseSEO from "#/components/seo/base-seo.astro";
import OpenGraph from "#/components/seo/open-graph.astro";
import TwitterCard from "#/components/seo/twitter-card.astro";
import { siteConfig } from "#/config/site";
import BaseLayout from "#/layouts/base-layout.astro";
import { BASE_URL } from "#/lib/base-url";

const seoTitle = `私について｜${siteConfig.title}`;
const seoDescription = "Keisuke Hayashi のブログ";
const seoImage = `${BASE_URL}/api/og/default.png`;
---

<BaseLayout>
  <Fragment slot='seo'>
    <BaseSEO title="私について" description={seoDescription} />
    <OpenGraph
      title={seoTitle}
      description={seoDescription}
      image={seoImage}
      imageAlt={seoTitle}
    />
    <TwitterCard
      title={seoTitle}
      description={seoDescription}
      image={seoImage}
      imageAlt={seoTitle}
    />
  </Fragment>
  <div class="back-link-wrapper">
    <a href="/" class="back-link">
      <ArrowLeftIcon class="back-icon" />
      ホーム
    </a>
  </div>
  <h1 class="page-title">
    わたしについて
  </h1>
  <section class="about-body">
    <p class="about-text">
      準備中です。
    </p>
  </section>
</BaseLayout>

<style>
  .back-link-wrapper {
    margin-bottom: 1rem;
  }

  @media (width >= 1280px) {
    .back-link-wrapper {
      position: fixed;
      top: 0;
      transform: translateY(170px) translateX(-260px);
    }
  }

  .back-link {
    display: inline-flex;
    gap: 0.25rem;
    align-items: center;
    color: var(--c-sub);
    font-size: var(--fs-xs);
    text-decoration: none;
  }

  .back-link:hover {
    text-decoration: underline;
  }

  .back-icon {
    width: 0.875rem;
    height: 0.875rem;
  }

  .page-title {
    font-weight: var(--fw-medium);
  }

  .about-body {
    margin-top: 2rem;
  }

  .about-text {
    color: var(--c-sub);
    font-size: var(--fs-sm);
  }
</style>
