---
import type { GetStaticPaths } from "astro";
import Feed from "#/components/feed.astro";
import BaseSEO from "#/components/seo/base-seo.astro";
import JsonLd from "#/components/seo/json-ld.astro";
import OpenGraph from "#/components/seo/open-graph.astro";
import TwitterCard from "#/components/seo/twitter-card.astro";
import ThreadPost from "#/components/thread-post.astro";
import { TITLE, USERNAME } from "#/config/constants";
import Layout from "#/layouts/layout.astro";
import { getAllTags, getMemosByTag } from "#/utils/memo";

export const getStaticPaths = (async () => {
  const tags = await getAllTags();
  return Promise.all(
    tags.map(async (tag) => {
      const memosWithComments = await getMemosByTag(tag);
      return {
        params: {
          tag,
        },
        props: {
          tag,
          memosWithComments,
        },
      };
    }),
  );
}) satisfies GetStaticPaths;

const { memosWithComments, tag } = Astro.props;
const pageTitle = `Tag: ${tag} | ${TITLE}`;
const description = `「${tag}」タグが付けられた${memosWithComments.length}件のメモを表示しています。`;
---

<Layout>
  <Fragment slot="seo">
    <BaseSEO
      title={pageTitle}
      description={description}
    />
    <OpenGraph
      title={pageTitle}
      description={description}
      image="/og-image.png"
      imageAlt="test"
      type="website"
    />
    <TwitterCard
      title={pageTitle}
      description={description}
      image="/og-image.png"
      imageAlt="test"
    />
  </Fragment>

  <Fragment slot="structured-data">
    <JsonLd
      type="WebSite"
      data={{
        name: pageTitle,
        description: description,
        author: {
          "@type": "Person",
          name: USERNAME,
        },
      }}
    />
  </Fragment>
    <Feed>
        <div class="tag-header">
            <p>{memosWithComments.length} {memosWithComments.length === 1 ? "post" : "posts"}</p>
        </div>
        {
            memosWithComments.map(({ main, comments }) => (
                <ThreadPost
                    memo={main}
                    comments={comments}
                    hideTag={true}
                />
            ))
        }
    </Feed>
</Layout>

<style>
    .tag-header {
        margin: 1rem 0;
    }

    .tag-header p {
        margin: 0;
        color: var(--c-sub-text);
        font-size: var(--fs-xs);
    }
</style>
