---
import type { PaginateFunction } from "astro";
import ArrowLeftIcon from "#/components/icons/arrow-left.svg";
import BaseSEO from "#/components/seo/base-seo.astro";
import OpenGraph from "#/components/seo/open-graph.astro";
import TwitterCard from "#/components/seo/twitter-card.astro";
import { countPerPage } from "#/config/constant";
import { siteConfig } from "#/config/site";
import CategoryNavigation from "#/features/blog/components/ui/category-navigation.astro";
import EntryList from "#/features/blog/components/ui/entry-list.astro";
import Pagination from "#/features/blog/components/ui/pagination.astro";
import { getCategoryBySlug } from "#/features/blog/config/category";
import { getPublicListEntries } from "#/features/blog/utils/entry";
import BaseLayout from "#/layouts/base-layout.astro";
import { BASE_URL } from "#/utils/base-url";

export const getStaticPaths = async ({
  paginate,
}: {
  paginate: PaginateFunction;
}) => {
  const entries = await getPublicListEntries();
  const categories = [...new Set(entries.map((entry) => entry.category))];
  return categories.flatMap((category) => {
    const filteredEntries = entries
      .filter((entry) => entry.category === category)
      .sort((a, b) => b.publishedAt.getTime() - a.publishedAt.getTime());
    return paginate(filteredEntries, {
      pageSize: countPerPage,
      params: { category: category.toLowerCase() },
    });
  });
};

const { page } = Astro.props;
const { category: categorySlug } = Astro.params;

const category = getCategoryBySlug(categorySlug);

if (!category) {
  throw new Error(`Category "${categorySlug}" not found`);
}

const seoTitle = `${category.label}｜${siteConfig.title}`;
const seoDescription = `「${category.label}」カテゴリーの記事一覧`;
const seoImage = `${BASE_URL}/api/og/default.png`;
---

<BaseLayout>
  <Fragment slot='seo'>
    <BaseSEO title={category.label} description={seoDescription} />
    <OpenGraph
      title={seoTitle}
      description={seoDescription}
      image={seoImage}
      imageAlt={seoTitle}
    />
    <TwitterCard
      title={seoTitle}
      description={seoDescription}
      image={seoImage}
      imageAlt={seoTitle}
    />
  </Fragment>
  <div class="back-link-wrapper">
    <a href="/" class="back-link">
      <ArrowLeftIcon class="back-icon" />
      ホーム
    </a>
  </div>
  <section>
    <h1 class="page-title">ブログ</h1>
    <CategoryNavigation class="blog-nav" />
  </section>
  <section class="blog-entries">
    <EntryList entries={page.data} showDate />
  </section>
  <Pagination page={page} baseUrl={`/blog/categories/${categorySlug}`} class="blog-pagination" />
</BaseLayout>

<style>
  .blog-nav {
    margin-top: 2rem;
  }

  .blog-entries {
    margin-top: 1.5rem;
  }

  .blog-pagination {
    margin-top: 1.5rem;
  }
</style>
