---
import type { HTMLAttributes } from "astro/types";
import Budoux from "#/components/budoux.astro";
import { getPublicBlogEntries } from "#/features/blog/utils/entry";
import { cn } from "#/lib/ui";

interface Props extends HTMLAttributes<"div"> {
  id: string;
}

const { id, class: className, ...rest } = Astro.props;

const getPager = async (targetId: string) => {
  const targetEntries = await getPublicBlogEntries("asc");
  const activeIndex = targetEntries.findIndex(({ id }) => targetId === id);

  return {
    prev: targetEntries[activeIndex - 1] || null,
    next: targetEntries[activeIndex + 1] || null,
  };
};

const { prev, next } = await getPager(id);

const linkClass = "group flex flex-col gap-1 text-sm";
---

<div class={cn('flex justify-between items-stretch flex-nowrap gap-2', className)} {...rest}>
    {prev && (
            <a href={`/blog/posts/${prev.id}`} class={linkClass}>
                <div class="text-muted-foreground">前の記事</div>
                <Budoux>
                    <span class="group-hover:underline">{prev.data.title}</span>
                </Budoux>
            </a>
    )}
    {next && (
            <a href={`/blog/posts/${next.id}`} class={cn(linkClass, 'ml-auto')}>
                <div class="text-muted-foreground ml-auto">次の記事</div>
                <Budoux>
                    <span class="inline-block text-right group-hover:underline">{next.data.title}</span>
                </Budoux>
            </a>
    )}
</div>
