---
import type { InferEntrySchema } from "astro:content";
import { emojiSvg } from "#/components/emoji-svg";
import SEO from "#/components/seo/seo.astro";
import Breadcrumb from "#/components/ui/breadcrumb.astro";
import EmojiEyeCatch from "#/components/ui/emoji-eye-catch.astro";
import Separator from "#/components/ui/separator.astro";
import { me } from "#/config/site";
import EntryList from "#/features/blog/components/ui/entry-list.astro";
import TagCloud from "#/features/blog/components/ui/tag-cloud.astro";
import { getCategoryBySlug } from "#/features/blog/config/category";
import { tags as allTags } from "#/features/blog/config/tag";
import { getRelatedPosts, toListEntries } from "#/features/blog/utils/entry";
import BaseLayout from "#/layouts/base-layout.astro";
import { BASE_URL } from "#/utils/base-url";

interface Props extends InferEntrySchema<"blog"> {
  id: string;
  description: string;
}

const {
  id,
  title,
  emoji,
  category,
  tags,
  publishedAt,
  publishedAtString,
  updatedAt,
  description,
  status,
} = Astro.props;

const categorySlug = category.toLowerCase();
const categoryObject = getCategoryBySlug(categorySlug);

if (!categoryObject) {
  throw new Error(`Category "${categorySlug}" not found`);
}

const allTagCloudItems = await Promise.all(
  allTags?.map(async (tag) => ({
    ...tag,
    emojiSvg: await emojiSvg({ emoji: tag.emoji, isColored: true }),
  })) || [],
);

const tagCloudItems = allTagCloudItems.filter(({ title }) =>
  tags?.includes(title as (typeof tags)[number]),
);

const relatedPosts = await getRelatedPosts({ id, category });

const seoImage = `${BASE_URL}/api/og/${id}.png`;
const currentDate = new Date();
---

<BaseLayout>
  <SEO
    title={title}
    description={description}
    image={seoImage}
    type="article"
    article={{
      publishedTime: (publishedAt ?? currentDate).toISOString(),
      modifiedTime: (updatedAt ?? publishedAt ?? currentDate).toISOString(),
      authors: [me.name],
      section: categoryObject.label,
      tags: tagCloudItems.map((tag) => tag.label),
    }}
    slot='seo'
  />
  <slot name='head' slot='head' />
  <section>
    <Breadcrumb segments={[
      { label: "Blog", href: "/blog" },
      { label: categoryObject.label, href: `/blog/categories/${categorySlug}`, isCurrent: true },
    ]} />
    <div class:list={[status === 'draft' && 'draft-header']}>
      <EmojiEyeCatch emoji={emoji} />
      {status === "draft" && (
          <span class="draft-badge">Draft</span>
      )}
    </div>
    <h1 class="post-title">{title}</h1>
    <div class="post-meta">
      <time datetime={publishedAt.toISOString()} class="post-date palt">
        {publishedAtString}
      </time>
    </div>
  </section>
  <section class="post-body">
    <article class="prose">
      <slot />
    </article>
    {tagCloudItems && (
        <TagCloud tags={tagCloudItems} class="post-tags" />
    )}
    <Separator class="post-separator" />
    {relatedPosts?.length > 0 && (
      <div class="related-posts">
        <div class="related-posts-title">こちらもおすすめ</div>
        <EntryList entries={toListEntries(relatedPosts)} />
      </div>
    )}
  </section>
</BaseLayout>

<style>
  .draft-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .draft-badge {
    font-size: var(--fs-xs);
    color: var(--uchu-red-4);
  }

  .post-title {
    margin-top: 1rem;
    font-weight: var(--fw-medium);
  }

  .post-meta {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .post-date {
    font-size: var(--fs-sm);
    font-variant-numeric: tabular-nums;
    color: var(--c-sub);
  }

  .post-body {
    margin-top: 4rem;
  }

  .post-tags {
    margin-top: 3rem;
  }

  .post-separator {
    margin-top: 3rem;
  }

  .related-posts {
    margin-top: 3rem;
    display: grid;
    gap: 1.5rem;
  }

  .related-posts-title {
    font-weight: var(--fw-medium);
    line-height: 1.75;
  }
</style>

