---
import type { InferEntrySchema } from "astro:content";
import EmojiEyeCatch from "#/components/emoji-eye-catch.astro";
import SEO from "#/components/seo.astro";
import Skeleton from "#/components/skeleton.astro";
import BaseLayout from "#/layouts/base-layout.astro";
import { BASE_URL } from "#/lib/base-url";
import ViewCounter from "#/pages/blog/_components/view-counter.astro";

interface Props extends InferEntrySchema<"blog"> {
  id: string;
}

const {
  id,
  title,
  emoji,
  publishedAt,
  publishedAtString,
  description,
  status,
} = Astro.props;
---

<BaseLayout pagefind>
    <SEO
            title={title}
            description={description}
            imageUrl={`${BASE_URL}/api/og/${id}`}
            type='article'
            slot='seo'
    />
    <slot name='head' slot='head'/>
    <section>
        <div class:list={[status === 'draft' && 'flex justify-between items-center']}>
            <div transition:name={`${id}-emoji`}>
                <EmojiEyeCatch emoji={emoji} />
            </div>
            {status === "draft" && (
                    <span class="text-xs text-red-400">Draft</span>
            )}
        </div>
        <h1 class="mt-4 font-medium">{title}</h1>
        <div class="mt-2 flex items-center justify-between">
            <time datetime={publishedAt.toISOString()} class="text-sm text-muted-foreground">
                {publishedAtString}
            </time>
            <ViewCounter slug={id} server:defer>
                <Skeleton slot="fallback" class="h-4 w-14"/>
            </ViewCounter>
        </div>
    </section>
    <section>
        <article class="prose">
            <slot />
        </article>
    </section>
</BaseLayout>
