---
import type { InferEntrySchema } from "astro:content";
import ArrowLeftIcon from "@lucide/astro/icons/arrow-left";
import type { MarkdownHeading } from "astro";
import { emojiSvg } from "#/components/emoji-svg";
import SEO from "#/components/seo.astro";
import EmojiEyeCatch from "#/components/ui/emoji-eye-catch.astro";
import Skeleton from "#/components/ui/skeleton.astro";
import Comment from "#/features/blog/components/ui/comment.astro";
import TableOfContent from "#/features/blog/components/ui/table-of-content.astro";
import TagCloud from "#/features/blog/components/ui/tag-cloud.astro";
import ViewCounter from "#/features/blog/components/ui/view-counter.astro";
import { getCategoryBySlug } from "#/features/blog/config/category";
import { flatTags } from "#/features/blog/config/tag";
import BaseLayout from "#/layouts/base-layout.astro";
import { BASE_URL } from "#/lib/base-url";
import { cn } from "#/lib/ui";
import Separator from "#/components/ui/separator.astro";

interface Props extends InferEntrySchema<"blog"> {
  id: string;
  headings: MarkdownHeading[];
}

const {
  id,
  title,
  emoji,
  category,
  tags,
  publishedAt,
  publishedAtString,
  description,
  status,
  headings,
} = Astro.props;

const categorySlug = category.toLowerCase();
const categoryObject = getCategoryBySlug(categorySlug);

if (!categoryObject) {
  throw new Error(`Category "${categorySlug}" not found`);
}

const allTagCloudItems = await Promise.all(
  flatTags?.map(async (flatTag) => ({
    ...flatTag,
    emojiSvg: await emojiSvg({ emoji: flatTag.emoji, isColored: true }),
  })) || [],
);

const tagCloudItems = allTagCloudItems.filter(({ title }) =>
  tags?.includes(title as (typeof tags)[number]),
);
---

<BaseLayout pagefind>
    <SEO
            title={title}
            description={description}
            imageUrl={`${BASE_URL}/api/og/${id}.png`}
            type='article'
            slot='seo'
    />
    <section>
        <div>
            <span class="inline-flex gap-1.5 items-center text-xs">
                <a href="/blog" class="inline-flex gap-1 items-center text-muted-foreground hover:underline">
                    <ArrowLeftIcon class="size-3.5" />
                    ブログ
                </a>
                <span class="text-muted-foreground">/</span>
                <b class="font-semibold">
                    <a href={`/blog/categories/${categorySlug}`} class="hover:underline">
                        {categoryObject.label}
                    </a>
                </b>
            </span>
        </div>
        <div class={cn('mt-8', status === 'draft' && 'flex justify-between items-center')}>
            <EmojiEyeCatch emoji={emoji} />
            {status === "draft" && (
                    <span class="text-xs text-red-400">Draft</span>
            )}
        </div>
        <h1 class="mt-4 font-medium">{title}</h1>
        <div class="mt-2 flex items-center justify-between">
            <time datetime={publishedAt.toISOString()} class="text-sm text-muted-foreground">
                {publishedAtString}
            </time>
            <ViewCounter slug={id} server:defer>
                <Skeleton slot="fallback" class="h-4 w-14"/>
            </ViewCounter>
        </div>
    </section>
    <section class="mt-16">
        {headings.length > 1 && (
                <TableOfContent headings={headings} />
        )}
        <article class="prose">
            <slot />
        </article>
        {tagCloudItems && (
                <TagCloud tags={tagCloudItems} class="mt-12" />
        )}
        <Separator class="mt-12" />
        <Comment class="mt-12" />
    </section>
</BaseLayout>

<script>
    const handleHeadingIntersection = () => {
        const observerOptions: IntersectionObserverInit = {
            root: null,
            rootMargin: '0px 0px -85% 0px',
            threshold: 0
        };

        const activeClass = 'active';

        const observer = new IntersectionObserver((entries) => {
            entries.forEach((entry) => {
                if (!entry.isIntersecting) return;

                const id = entry.target.getAttribute('id');

                document.querySelectorAll(`.${activeClass}`)
                    .forEach((item) => item.classList.remove(activeClass));

                const link = document.querySelector(`li > a[href="#${id}"]`);
                const toc = document.querySelector(`div[data-toc="${id}"]`);

                link?.classList.add(activeClass);
                toc?.classList.add(activeClass);
            })
        }, observerOptions);

        const headings = document.querySelectorAll('h2[id], h3[id]');
        headings.forEach((heading) => observer.observe(heading));

        if (headings.length > 1) {
            const firstHeadingId = headings[0]?.getAttribute('id');
            if (firstHeadingId) {
                const firstLink = document.querySelector(`li > a[href="#${firstHeadingId}"]`);
                const firstToc = document.querySelector(`div[data-toc="${firstHeadingId}"]`);

                firstLink?.classList.add(activeClass);
                firstToc?.classList.add(activeClass);
            }
        }

    }

    document.addEventListener('astro:page-load', handleHeadingIntersection)
</script>
