---
import type { InferEntrySchema } from "astro:content";
import { emojiSvg } from "#/components/emoji-svg";
import ArrowLeftIcon from "#/components/icons/arrow-left.svg";
import BaseSEO from "#/components/seo/base-seo.astro";
import OpenGraph from "#/components/seo/open-graph.astro";
import TwitterCard from "#/components/seo/twitter-card.astro";
import EmojiEyeCatch from "#/components/ui/emoji-eye-catch.astro";
import Separator from "#/components/ui/separator.astro";
import { me, siteConfig } from "#/config/site";
import EntryList from "#/features/blog/components/ui/entry-list.astro";
import TagCloud from "#/features/blog/components/ui/tag-cloud.astro";
import { getCategoryBySlug } from "#/features/blog/config/category";
import { tags as allTags } from "#/features/blog/config/tag";
import { getRelatedPosts, toListEntries } from "#/features/blog/utils/entry";
import BaseLayout from "#/layouts/base-layout.astro";
import { BASE_URL } from "#/utils/base-url";

interface Props extends InferEntrySchema<"blog"> {
  id: string;
}

const {
  id,
  title,
  emoji,
  category,
  tags,
  publishedAt,
  publishedAtString,
  updatedAt,
  description,
  status,
} = Astro.props;

const categorySlug = category.toLowerCase();
const categoryObject = getCategoryBySlug(categorySlug);

if (!categoryObject) {
  throw new Error(`Category "${categorySlug}" not found`);
}

const allTagCloudItems = await Promise.all(
  allTags?.map(async (tag) => ({
    ...tag,
    emojiSvg: await emojiSvg({ emoji: tag.emoji, isColored: true }),
  })) || [],
);

const tagCloudItems = allTagCloudItems.filter(({ title }) =>
  tags?.includes(title as (typeof tags)[number]),
);

const relatedPosts = await getRelatedPosts({ id, category });

const seoTitle = `${title}｜${siteConfig.title}`;
const seoImage = `${BASE_URL}/api/og/${id}.png`;
const currentDate = new Date();
---

<BaseLayout>
  <Fragment slot='seo'>
    <BaseSEO title={title} description={description} />
    <OpenGraph
      title={seoTitle}
      description={description}
      image={seoImage}
      imageAlt={seoTitle}
      type="article"
      article={{
        publishedTime: (publishedAt ?? currentDate).toISOString(),
        modifiedTime: (updatedAt ?? publishedAt ?? currentDate).toISOString(),
        authors: [me.name],
        section: categoryObject.label,
        tags: tagCloudItems.map((tag) => tag.label),
      }}
    />
    <TwitterCard
      title={seoTitle}
      description={description}
      image={seoImage}
      imageAlt={seoTitle}
    />
  </Fragment>
  <slot name='head' slot='head' />
  <section>
    <div class="breadcrumb">
      <span class="breadcrumb-inner">
        <a href="/blog" class="breadcrumb-link">
          <ArrowLeftIcon class="breadcrumb-icon" />
          ブログ
        </a>
        <span class="breadcrumb-sep">/</span>
        <b class="breadcrumb-category">
          <a href={`/blog/categories/${categorySlug}`} class="breadcrumb-category-link">
            {categoryObject.label}
          </a>
        </b>
      </span>
    </div>
    <div class:list={[status === 'draft' && 'draft-header']}>
      <EmojiEyeCatch emoji={emoji} />
      {status === "draft" && (
          <span class="draft-badge">Draft</span>
      )}
    </div>
    <h1 class="post-title">{title}</h1>
    <div class="post-meta">
      <time datetime={publishedAt.toISOString()} class="post-date palt">
        {publishedAtString}
      </time>
    </div>
  </section>
  <section class="post-body">
    <article class="prose">
      <slot />
    </article>
    {tagCloudItems && (
        <TagCloud tags={tagCloudItems} class="post-tags" />
    )}
    <Separator class="post-separator" />
    {relatedPosts?.length > 0 && (
      <div class="related-posts">
        <div class="related-posts-title">こちらもおすすめ</div>
        <EntryList entries={toListEntries(relatedPosts)} />
      </div>
    )}
  </section>
</BaseLayout>

<style>
  .breadcrumb {
    margin-bottom: 1rem;
  }

  @media (width >= 1280px) {
    .breadcrumb {
      position: fixed;
      top: 0;
      transform: translateY(170px) translateX(-260px);
    }
  }

  .breadcrumb-inner {
    display: inline-flex;
    gap: 0.375rem;
    align-items: center;
    font-size: var(--fs-xs);
  }

  .breadcrumb-link {
    display: inline-flex;
    gap: 0.25rem;
    align-items: center;
    color: var(--c-sub);
    text-decoration: none;
  }

  .breadcrumb-link:hover {
    text-decoration: underline;
  }

  .breadcrumb-icon {
    width: 0.875rem;
    height: 0.875rem;
  }

  .breadcrumb-sep {
    color: var(--c-sub);
  }

  .breadcrumb-category {
    font-weight: var(--fw-semibold);
  }

  .breadcrumb-category-link {
    text-decoration: none;
    color: inherit;
  }

  .breadcrumb-category-link:hover {
    text-decoration: underline;
  }

  .draft-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .draft-badge {
    font-size: var(--fs-xs);
    color: var(--uchu-red-4);
  }

  .post-title {
    margin-top: 1rem;
    font-weight: var(--fw-semibold);
  }

  .post-meta {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .post-date {
    font-size: var(--fs-sm);
    color: var(--c-sub);
  }

  .post-body {
    margin-top: 4rem;
  }

  .post-tags {
    margin-top: 3rem;
  }

  .post-separator {
    margin-top: 3rem;
  }

  .related-posts {
    margin-top: 3rem;
    display: grid;
    gap: 1.5rem;
  }

  .related-posts-title {
    font-weight: var(--fw-medium);
    line-height: 1.75;
  }
</style>

