---
import type { InferEntrySchema } from "astro:content";
import ArrowLeftIcon from "#/components/icons/arrow-left.svg";
import BaseSEO from "#/components/seo/base-seo.astro";
import OpenGraph from "#/components/seo/open-graph.astro";
import TwitterCard from "#/components/seo/twitter-card.astro";
import { siteConfig } from "#/config/site";
import BaseLayout from "#/layouts/base-layout.astro";
import { BASE_URL } from "#/lib/base-url";

interface Props extends InferEntrySchema<"legal"> {}

const { title, description } = Astro.props;

const seoTitle = `${title}｜${siteConfig.title}`;
const seoDescription = description ?? siteConfig.description;
const seoImage = `${BASE_URL}/api/og/default.png`;
---

<BaseLayout>
  <Fragment slot='seo'>
    <BaseSEO title={title} description={seoDescription} />
    <OpenGraph
      title={seoTitle}
      description={seoDescription}
      image={seoImage}
      imageAlt={seoTitle}
      type="article"
    />
    <TwitterCard
      title={seoTitle}
      description={seoDescription}
      image={seoImage}
      imageAlt={seoTitle}
    />
  </Fragment>
  <slot name='head' slot='head'/>
  <div class="mb-4 xl:fixed xl:top-0 xl:translate-y-[170px] xl:-translate-x-[260px]">
    <a href="/" class="inline-flex gap-1 items-center text-muted-foreground text-xs hover:underline">
      <ArrowLeftIcon class="size-3.5" />
      ホーム
    </a>
  </div>
  <section class="prose">
    <header>
      <h1 class="font-medium">{title}</h1>
    </header>
    <div>
      <slot />
    </div>
  </section>
</BaseLayout>
