---
import type { InferEntrySchema } from "astro:content";
import SEO from "#/components/seo/seo.astro";
import Breadcrumb from "#/components/ui/breadcrumb.astro";
import BaseLayout from "#/layouts/base-layout.astro";
import { BASE_URL } from "#/utils/base-url";

interface Props extends InferEntrySchema<"pages"> {}

const { title, description } = Astro.props;

const seoImage = `${BASE_URL}/api/og/default.png`;
---

<BaseLayout>
  <SEO
    title={title}
    description={description}
    image={seoImage}
    type="article"
    slot='seo'
  />
  <slot name='head' slot='head'/>
  <Breadcrumb segments={[{ label: "Home", href: "/" }]} />
  <h1 class="page-title">{title}</h1>
  <section class="prose page-body">
    <slot />
  </section>
</BaseLayout>

<style>
  .page-body {
    margin-top: 2rem;
  }
</style>
