---
import type { InferEntrySchema } from "astro:content";
import ArrowLeftIcon from "#/components/icons/arrow-left.svg";
import BaseSEO from "#/components/seo/base-seo.astro";
import OpenGraph from "#/components/seo/open-graph.astro";
import TwitterCard from "#/components/seo/twitter-card.astro";
import { siteConfig } from "#/config/site";
import BaseLayout from "#/layouts/base-layout.astro";
import { BASE_URL } from "#/utils/base-url";

interface Props extends InferEntrySchema<"pages"> {}

const { title, description } = Astro.props;

const seoTitle = `${title}｜${siteConfig.title}`;
const seoDescription = description ?? siteConfig.description;
const seoImage = `${BASE_URL}/api/og/default.png`;
---

<BaseLayout>
  <Fragment slot='seo'>
    <BaseSEO title={title} description={seoDescription} />
    <OpenGraph
      title={seoTitle}
      description={seoDescription}
      image={seoImage}
      imageAlt={seoTitle}
      type="article"
    />
    <TwitterCard
      title={seoTitle}
      description={seoDescription}
      image={seoImage}
      imageAlt={seoTitle}
    />
  </Fragment>
  <slot name='head' slot='head'/>
  <div class="back-link-wrapper">
    <a href="/" class="back-link">
      <ArrowLeftIcon class="back-icon" />
      ホーム
    </a>
  </div>
  <h1 class="page-title">{title}</h1>
  <section class="prose page-body">
    <slot />
  </section>
</BaseLayout>

<style>
  .page-body {
    margin-top: 2rem;
  }
</style>
